/* Basic CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 100%; /* Set default font size to 16px */
  line-height: 1.5;
}

body {
  -webkit-font-smoothing: antialiased; /* Improves text rendering */
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit; /* Ensures inputs and buttons use the same font */
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* Fonts */

@font-face {
  font-family: CursedTimerFont;
  src: url(/cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf);
}

/* Styling for Scoreboard */

body {
  font-family: 'CursedTimerFont', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.scoreboard {
  display: flex;
  background-color: #1b2449;
  margin: 0 auto;
  padding: 100px 300px;
}

.team-home,
.team-guest p {
  color: #fff;
  text-transform: uppercase;
}
